#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f3136;
}

::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 4px;
}

/* Global animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Custom utility classes */
.fade-in {
  animation: fadeIn 0.3s ease-in;
}